body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-search {
  padding: 60px 60px 60px 120px;
  border: none;
  font-size: 2.6em;
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}